#Opossum files
cplexpb*.lp
cplexpb*.dot
sol-cplex.xml
sol-*.dot

# c++ / cmake
*.o
/bin
/build

#Eclipse
.cproject
.project
.classpath
.settings
target

# Random OS stuff
.DS_Store
Thumbs.db
*.bak
*.log
*~

# lib
#*.so*
*.lib
#*.a
*.la

